/* reset */
body, p, h1, h3 {
  margin: 0;
}

body {
  min-width: 1050px;
}

a, span, i, label {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #222222;
}

i {
  font-style: normal;
}

i.icon {
  cursor: pointer;
}

th {
  font-weight: normal;
}

/* tools */
.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.line {
  height: 1em;
  width: 1px;
  background: #ffffff;
  margin: 0 0.5em;
  vertical-align: -2px;
}

.line-x {
  height: 1px;
  width: 1em;
  background: #e4e4e4;

}

.button {
  box-sizing: border-box;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.button.yellow {
  background: #f2c231 !important;
}

.button.grey {
  background: #bcbcbc !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

/* main */
html {
  height: 100%;
  font-family: 'Microsoft YaHei';
  background: #ffffff;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-info {
  height: 54px;
}

.header-info > * {
  display: inline-block;
}

#taskList .header-info, #requestNew .header-info {
  height: 53px;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 100px;
  overflow: hidden;
  overflow-y: auto;
}

.container > * {
  float: left;
}

#requestNew, #taskList {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 45px;
}

#requestNew .header {
  background: #ffffff;
}

#requestNew .content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  float: left;
  margin-right: -174px;
  padding-right: 174px;

}

#requestNew .content .container {
  box-sizing: border-box;
  padding: 1% 2% 60px;
  height: 100%
}

#requestNew .content .container .list-part {
  float: left;
}

#requestNew .content .container .my-workflow .list {
  margin-right: 18px;
}

#taskList {
  height: 100%;
  background: #ffffff;
}

#taskList .content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  float: left;
  margin-right: -364px;
  padding-right: 364px;
}

#taskList .container {
  padding-bottom: 70px !important;
}

/* header-top */
/* header-top */
.header-top {
  background: #6d44b4;
}

.header-top .main-icon {
  float: left;
  margin: 4px 0 4px 12px;

}

.header-top .icon-main {
  text-indent: -9999px;
}

.header-top .log-info {
  float: right;
  margin-right: 24px;
}

.header-top .log-info > * {
  color: #ffffff;
  font: 12px/44px a;
}

.header-top .log-info .user-info {
  max-width: 240px;
  vertical-align: middle;
}

/* header-info */
.header-info {
  padding: 0 24px 0 12px;
  border-bottom: 2px solid #d2d2d2;
}

.header-info .left {
  width: 50%;
}

.header-info .right {
  width: 50%;
  text-align: right;
}

.header-info .work-log-info {
  float: left;
}

.header-info .work-log-info .work-icon {
  margin: 12px 0;
}

.header-info .work-log-info > * {
  vertical-align: middle;
  display: inline-block;
}

.header-info .work-log-info .work-info {
  margin-left: 12px;
}

.header-info .work-log-info .work-info .work-title {
  font-size: 14px;
  color: #414141;
  max-width: 270px;
}

.header-info .work-log-info .work-info .work-description {
  font-size: 12px;
  color: #8a8a8a;
}

.header-info .work-log-info .work-info .work-description .state {
  color: #f76d75;
}

.header-info .work-log-info .work-info .work-description .created-info span {
  color: #6d44b4;
}

.header-info .work-log-info .work-info .work-description .line {
  background: #8a8a8a;
}

.header-info .processing-method {
  box-sizing: border-box;
  float: right;
  font: 12px/54px a;
}

.header-info .processing-method .button {
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  box-sizing: border-box;
  margin: 12px 0 12px 6px;
  padding: 0 16px;
  background: #62c9a6;
  border-radius: 2px;
}

.header-info .processing-method .button.reject {
  background: #f3817b;
}

.header-info .processing-method .button.forward {
  background: #f2c231;
}

.header-info .header-info-icon {
  float: left;
  margin: 11px 0 9px;
}

.header-info .header-info-title {
  display: inline-block;
  margin-left: 10px;
  color: #414141;
  font-size: 14px;
  vertical-align: -22px;
  line-height: 54px;
  font-weight: bold;
}

/* header-info search */
.search {
  float: right;
  line-height: 54px;
}

.search .search-input {
  width: 190px;
  height: 28px;
  padding: 0 5px;
}

.search .search-button {
  margin-left: 10px;
  background: #ffc322;
  color: #ffffff;
  font-size: 12px;
  height: 32px;
  padding: 0 20px;
  vertical-align: middle;
  border-radius: 2px;
}

.search .search-button span {
  line-height: 32px;
  vertical-align: top;
}

/* container-files */
.container-files {
  box-sizing: border-box;
  width: 39.338%;
  height: 100%;
  position: relative;
}

.container-files .file-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 55px;
  box-sizing: border-box;
  padding: 0 2.5%;
  overflow-y: auto;
}

.container-files .file {
  border-bottom: 1px solid #f5f5f5;
  font: 12px/55px a;
  height: 55px;
  overflow: hidden;
}

.container-files .file .file-info {
  float: left;
  width: 70%;
  height: 100%;
}

.container-files .file .file-info .icon {
  vertical-align: middle;
}

.container-files .file .file-info .file-title {
  margin-left: 12px;
  color: #414141;
  max-width: 70%;
}

.container-files .file .file-info .file-version {
  margin-left: 5%;
  float: right;
}

.container-files .file .file-operator {
  float: right;
  color: #0e0e0e;
  width: 23%;
  max-width: 120px;
  font-size: 0;
}

.container-files .file .file-operator .item {
  vertical-align: middle;
  width: 33.333%;
  text-align: center;
}

/* container-files button */
.container-files .button-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font: 12px/55px a;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}

.container-files .button-wrap .buttons {
  display: inline-block;
  margin-left: -8px;
}

.container-files .button-wrap .buttons .button {
  border: 1px solid;
  line-height: 28px;
  color: #6d44b4;
  margin-left: 8px;
  border-radius: 2px;
  padding: 0 16px;
}

/* container-messages */
.container-messages {
  box-sizing: border-box;
  width: 35.821%;
  height: 100%;
  border: 1px solid #d2d2d2;
  border-top: none;
  border-bottom: none;
  background: #f7f7f7;
  overflow-y: auto;
}

.container-messages .message {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 10px;
  border-bottom: 1px solid #ececec;
  background: #ffffff;
  font-size: 12px;
  padding: 12px 10px 8px;
  color: #707070;
}

.container-messages .message .message-header {
  line-height: 30px;
}
.container-messages .message .message-header > *{
  vertical-align: middle;
}
.container-messages .message .message-header .message-username {
  padding: 0 10px;
  border-radius: 11px;
  background: #cbc9ce;
  color: #ffffff;
  line-height:22px;
}

.container-messages .message .message-header .message-state {
  color: #6d44b4;
  margin-left: 8px;
}

.container-messages .message .message-header .message-state.double-border {
  box-sizing: border-box;
  border: 2px solid #51d6a9;
  padding: 1px;
  border-radius: 1px;
  line-height:20px;
}

.container-messages .message .message-header .message-state.double-border i {
  box-sizing:border-box;
  border: 1px solid #51d6a9;
  padding: 0 5px;
  line-height: 18px;
}

.container-messages .message .message-header .message-time {
  float: right;
  margin-right: 80px;
}

.container-messages .message .message-job-position {
  text-indent: 7px;
  margin-top: 8px;
  margin-bottom: 10px;
  max-width: 350px;
}

.container-messages .message .message-info {
  position: relative;
  line-height: 20px;
  padding: 4px 10px 4px 26px;
  border: 1px solid #ececec;
  background: #f7f7f7;
  margin-bottom: 6px;
}

.container-messages .message .message-info .icon {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 7px;
}

.container-messages .message .message-Additional-info {
  position: relative;
  background: #f7f7f7;
  padding-left: 26px;
  padding-right: 10px;
  border-radius: 11px;
  margin-bottom: 10px;
  line-height: 20px;
  border: 1px solid #ececec;
}

.container-messages .message .message-Additional-info .icon {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 4px;
}

.container-messages .message .message-Additional-info span {
  max-width: 90%;
}

/* container-reviewers */
.container-reviewers {
  box-sizing: border-box;
  width: 24.841%;
  height: 100%;
  overflow-y: auto;
  line-height: 56px;
}

.container-reviewers .reviewers-wrap {
  width: 95%;
  margin: 0 auto;
}

.container-reviewers .item {
  border-bottom: 1px solid #eaeaea;
  font-size: 0;
}

.container-reviewers .item > *, .container-reviewers .next-reviewer .right > * {
  display: inline-block;
  vertical-align: middle;
}

.container-reviewers .item .item-icon {
  width: 45px;
  text-align: center;
}

.container-reviewers .item .right {
  width: 100%;
  box-sizing: border-box;
  padding-left: 45px;
  margin-left: -45px;
}

.container-reviewers .operator-name {
  box-sizing: border-box;
  font-size: 14px;
  color: #414141;
  width: 50%;
  padding-left: 2%;
  padding-right: 5%;
}

.container-reviewers .reviewer-name {
  max-width: 50%;
}

.container-reviewers .next-reviewer .right {
  padding-right: 5%;
}

.container-reviewers .item .select-job-position {
  box-sizing: border-box;
  font-size: 12px;
  color: #414141;
  padding: 3px 0 3px 6px;
  width: 50%;
}

.container-reviewers .initial-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #cccad1;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}

.container-reviewers .reviewer {
  position: relative;
}

.container-reviewers .reviewer-name {
  color: #6d44b4;
}

.container-reviewers .reviewer-info {
  font: 12px/1.8 a;
  color: #707070;
  margin-top: 7px;
  max-width: 80%;
}

.container-reviewers .reviewer-state {
  position: absolute;
  top: 17px;
  right: 13px;
  line-height: 0;
  font-size: 12px;
  color: #8a8a8a;
}

.container-reviewers .reviewer-state i {
  color: #6d44b4;
}

/* icons */
.icon {
  display: inline-block;
}

/* header-top */
.icon-main {
  background: url("../img/sprites.png") no-repeat left bottom;
  width: 135px;
  height: 36px;
}

/* header-info */
.icon-work {
  background: url("../img/sprites.png") no-repeat left top;
  width: 30px;
  height: 30px;
}

.icon-workflow {
  background: url("../img/sprites.png") no-repeat right top;
  width: 30px;
  height: 30px;
}

.icon-newRequest {
  background: url("../img/sprites.png") no-repeat right -30px;
  width: 30px;
  height: 30px;
}

/* container-files */
.icon-excel {
  background: url("../img/sprites.png") no-repeat left -30px;
  width: 30px;
  height: 30px;
}

.icon-ppt {
  background: url("../img/sprites.png") no-repeat left -60px;
  width: 30px;
  height: 30px;
}

.icon-word {
  background: url("../img/sprites.png") no-repeat left -90px;
  width: 30px;
  height: 30px;
}

.icon-download {
  background: url("../img/sprites.png") no-repeat -31px top;
  width: 13px;
  height: 13px;
}

.icon-modify {
  background: url("../img/sprites.png") no-repeat -31px -14px;
  width: 13px;
  height: 13px;
}

.icon-update {
  background: url("../img/sprites.png") no-repeat -31px -28px;
  width: 13px;
  height: 13px;
}

/* container-reviewers */
.icon-reviewers {
  background: url("../img/sprites.png") no-repeat right -60px;
  width: 30px;
  height: 30px;
}

.icon-reviewer {
  background: url("../img/sprites.png") no-repeat right -90px;
  width: 30px;
  height: 30px;
}

/* container-messages */
.icon-message2 {
  background: url("../img/sprites.png") no-repeat -46px 1px;
  width: 12px;
  height: 11px;
}

.icon-modify2 {
  background: url("../img/sprites.png") no-repeat -46px -10px;
  width: 12px;
  height: 11px;
}

.icon-share2 {
  background: url("../img/sprites.png") no-repeat -46px -22px;
  width: 12px;
  height: 11px;
}

/* request-new list*/
.icon-add3 {
  background: url("../img/sprites.png") no-repeat -58px 0;
  width: 12px;
  height: 12px;
}

.icon-modify3 {
  background: url("../img/sprites.png") no-repeat -58px -13px;
  width: 13px;
  height: 13px;
}

.icon-remove3 {
  background: url("../img/sprites.png") no-repeat -58px -27px;
  width: 11px;
  height: 13px;
}

/* workflow-detial */
.icon-modify4 {
  background: url("../img/sprites.png") no-repeat -72px 0;
  width: 13px;
  height: 13px;
}

.icon-remove4 {
  background: url("../img/sprites.png") no-repeat -72px -14px;
  width: 11px;
  height: 13px;
}

.icon-add4 {
  background: url("../img/sprites.png") no-repeat -72px -28px;
  width: 15px;
  height: 15px;
}

.icon-arrow-r {
  background: url("../img/sprites.png") no-repeat -69px -44px;
  width: 23px;
  height: 19px;
  cursor: default !important;
}

.icon-arrow-l {
  background: url("../img/sprites.png") no-repeat -69px -64px;
  width: 23px;
  height: 19px;
  cursor: default !important;
}

.icon-arrow-b {
  background: url("../img/sprites.png") no-repeat -69px -84px;
  width: 19px;
  height: 23px;
  cursor: default !important;
}

/* sidebar */
.icon-triangle {
  border: 3px solid #ffffff;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
}

.icon-count {
  line-height: 14px;
  color: #ffffff;
  padding: 0 9px;
  border-radius: 7px;
  background: #fabe1c;
}

/* sidebar */
.sidebar {
  box-sizing: border-box;
  width: 174px;
  height: 100%;
  background: #3a3a3a;
  color: #ffffff;
  font-size: 12px;
  float: left;
  overflow-y: auto;
  padding-bottom: 10px;
}

.sidebar .sidebar-nav {
  margin-top: 15px;
}

.sidebar .sidebar-nav .nav-level1 .nav-level1-title {
  line-height: 40px;
  font-weight: bold;
}

.sidebar .sidebar-nav .nav-level1 .nav-level1-title .icon-triangle {
  margin-left: 10px;
  vertical-align: 4px;
}

.sidebar .sidebar-nav .nav-level1 .nav-level1-title .title-name {
  margin-left: 8px;
  max-width: 120px;
}

.sidebar .sidebar-nav .nav-level1 .nav-level2 .item {
  display: block;
  line-height: 40px;
  padding-left: 30px;
  color: #ffffff;
}

.sidebar .sidebar-nav .nav-level1 .nav-level2 .item .item-text {
  max-width: 70px;
}

.sidebar .sidebar-nav .nav-level1 .nav-level2 .item .icon-count {
  float: right;
  margin: 13px 14px 13px 0;
}

.sidebar .sidebar-nav .nav-level1 .nav-level2 .item.select {
  border-left: 3px solid #fccc4b;
  background: #5d5d5d;
  padding-left: 27px;
}

/* sidebar2 */
.sidebar2 {
  width: 190px;
  background: #ededed;
  color: #5b5a5a;
}

.sidebar2 .sidebar-nav > .title {
  line-height: 39px;
  padding-left: 24px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #d7d7d7;
  max-width: 130px;
}

.sidebar2 .all-tasks {
  line-height: 40px;
  padding-left: 24px;
}

.sidebar2 .all-tasks span {
  max-width: 95px;
}

.sidebar2 .all-tasks .count {
  float: right;
  margin-right: 23px;
}

.sidebar2 .sidebar-header {
  background: #5e36a3;

}

.sidebar2 .sidebar-nav .nav-level1 .nav-level1-title .icon-triangle {
  border-color: #414141;
}

.sidebar2 .sidebar-nav .nav-level1 .nav-level2 .item {
  color: #5b5a5a;
}

.sidebar2 .sidebar-nav .nav-level1 .nav-level2 .item.select .icon-count {
  color: #ffffff;
}

.sidebar2 .sidebar-nav .nav-level1 .nav-level2 .item .icon-count {
  color: #5b5a5a;
  background: none;
}

.sidebar2 .sidebar-nav .nav-level1 .nav-level2 .item.select {
  color: #ffffff;
}

/* request new container-list */
#requestNew .container .list {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 22.5%;
  color: #414141;
  padding-left: 15px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  margin-right: 2%;
}

#requestNew .container .list .list-header {
  height: 37px;
  border-bottom: 1px solid #e4e4e4;

}

#requestNew .container .list .list-header .list-title {
  display: inline-block;
  line-height: 37px;
  vertical-align: top;
  max-width: 80%;
}

#requestNew .container .list .list-content .list-items .list-item {
  font: 12px/35px a;
}

#requestNew .container .list .list-content .list-items .list-item .icon-triangle {
  border-color: #3b3b3b;
}

#requestNew .container .list .list-content .list-items .list-item .item-name {
  margin-left: 8px;
  max-width: 60%;
  vertical-align: middle;
}

#requestNew .container .list .list-content .list-items .list-item .item-operator {
  margin-left: 10px;
  display: none;
}

#requestNew .container .list .list-content .list-items .list-item .item-operator .icon {
  margin-left: 10px;
  line-height: 35px;
  vertical-align: middle;
}

#requestNew .container .list .list-content .list-items .list-item.select .icon-triangle {
  border-color: #6d44b4;
}

#requestNew .container .list .list-content .list-items .list-item.select .item-name {
  color: #6d44b4;
  text-decoration: underline;
}

#requestNew .container .list .list-content .list-items .list-item.select .item-operator {
  display: inline-block;
}

#requestNew .container .list-add {
  box-sizing: border-box;
  width: 246px;
  height: 32px;
  color: #414141;
  border: 1px dotted #d2d2d2;
  margin-top: 10px;
  margin-bottom: 4px;
  text-align: center;
}

#requestNew .container .list-add .add-info > * {
  line-height: 30px;
  vertical-align: top;
}

#requestNew .container .list-add .add-info .add-text {
  font-size: 12px;
  margin-left: 8px;
  max-width: 65%;
}

/* request-new-form container-form */
.container-form {
  box-sizing: border-box;
  width: 35.821%;
  height: 100%;
  border: 1px solid #d2d2d2;
  border-top: none;
  border-bottom: none;
  background: #f7f7f7;
  overflow-y: auto;
  font: 12px/45px a;
  padding: 2%;
}

.container-form form {
  font-size: 0;
}

.container-form form label, .container-form form input {
  box-sizing: border-box;
  font-size: 12px;
}

.container-form form .left {
  width: 25%;
  vertical-align: middle;
}

.container-form form .right {
  width: 75%;
  vertical-align: middle;
}

.container-form .title input {
  line-height: 22px;
}

.container-form .urgency .radios > * {
  vertical-align: middle;
}

.container-form .urgency .radios label {
  margin-right: 26px;
  margin-left: 2px;
}

.container-form .comment label {
  vertical-align: top;
}

.container-form .comment textarea {
  margin-top: 10px;
  resize: none;
  height: 70%;
  padding: 1% 2%;
  text-indent: 2em;
  line-height: 1.3;
}

/* container-table */
#taskList .container .table {
  width: 100%;
  overflow: hidden;
  margin-left: -1px;
  font-size: 12px;
  border-collapse: collapse;
}

#taskList .container .table tr {
  box-sizing: border-box;
}

#taskList .container .table tr th {
  border-left: 1px solid #ffffff;
}

#taskList .container .table tr th {
  padding-left: 10px;
  line-height: 28px;
  background: #f2f2f2;
  color: #262626;
  font-weight: bold;
  text-align: left;
}

#taskList .container .table tr td {
  padding-left: 11px;
  line-height: 30px;
  border-bottom: 1px solid #f5f5f5;
}

#taskList .container .table tr .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c2c2c2;
}

#taskList .container .table tr .bar {
  width: 108px;
  height: 8px;
  border-radius: 4px;
  position: relative;
  background: #c2c2c2;
}

#taskList .container .table tr .bar:before {
  border-radius: 4px;
}

#taskList .container .table tr .bar.progress {
  background: #ececec;
}

#taskList .container .table tr .bar:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 100%;
}

#taskList .container .table tr .circle.red, #taskList .container .table tr .bar.progress.red:before {
  background: #f76d75;
}

#taskList .container .table tr .circle.yellow, #taskList .container .table tr .bar.progress.yellow:before {
  background: #ffaf50;
}

#taskList .container .table tr th:first-child, #taskList .container .table tr td:first-child {
  padding-left: 18px;
}

/* pagination */
.pagination {
  float: right;
  font: 12px/30px a;
  margin-top: 8px;
  margin-right: 30px;
}

.pagination .pages {
  display: inline-block;
  margin: 0 10px;
}

.pagination .next, .pagination .prev, .pagination .pages a {
  color: #9f9f9f;
}

.pagination .pages a {
  padding: 0 2px;
}

.pagination .pages .select {
  text-decoration: underline;
  color: #6d44b4;
}

/* workflow container-list */
#workflow .container {
  width: 1370px;
  margin-left: -14px;
}

/* icon-arrow */
/* list */
#workflow .container .list, .container .list-add {
  float: left;
}

#workflow .container .list {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 244px;
  height: 260px;
  color: #414141;
  padding-left: 12px;
  padding-right: 6px;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 30px;
  border: 1px solid #e5e5e5;
}

#workflow .container .list .icon-arrow-r, .icon-arrow-l {
  position: absolute;
  left: -27px;
  top: 50%;
  margin-top: -10px;
}

#workflow .container .list .icon-arrow-l {
  left: -28px;
}

#workflow .container .list .icon-arrow-b {
  position: absolute;
  left: 50%;
  bottom: -27px;
  margin-left: -12px;
}

#workflow .container .list.list-r {
  float: right;
}

#workflow .container .list .list-header {
  height: 37px;
  border-bottom: 1px solid #e4e4e4;

}

#workflow .container .list .list-header > * {
  display: inline-block;
  line-height: 37px;
  vertical-align: top;
}

#workflow .container .list .list-header .list-title {
  font-size: 14px;
}

#workflow .container .list .list-header .list-operator {
  float: right;
  margin-right: 12px;
}

#workflow .container .list .list-header .list-operator .icon {
  /*height:37px;*/
  line-height: 37px;
  margin-left: 12px;
}

#workflow .container .list .list-content .attention {
  margin-top: 10px;
  font: 12px/20px a;
  color: #5b5a5a;
}

#workflow .container .list .list-content .list-items .list-item {
  font: 12px/35px a;
}

#workflow .container .list .list-content .list-items .list-item .item-name {
  margin-left: 2px;
}

#workflow .container .list .list-content .list-items .list-item .item-state {
  color: #929292;
  float: right;
  margin-right: 12px;
}

#workflow .container .list-add {
  box-sizing: border-box;
  width: 244px;
  height: 260px;
  color: #414141;
  border: 1px dotted #d2d2d2;
  margin-top: 18px;
  margin-bottom: 8px;
  margin-left: 30px;
  text-align: center;
}

#workflow .container .list-add.list-r {
  float: right;
}

#workflow .container .list-add .add-info {
  display: inline-block;
  position: relative;
  top: 50%;
  height: 22px;
  margin-top: -11px;
}

#workflow .container .list-add .add-info > * {
  line-height: 22px;
  vertical-align: middle;
}

#workflow .container .list-add .add-info .add-text {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: 0;
}

/* mask */
#mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(198, 198, 198, 0.79);
  overflow: hidden;
}

/* mask-header */
.header-info {
  height: 54px;
  padding: 0 24px 0 12px;
  border-bottom: 2px solid #dddddd;
}

.header-info .header-info-icon {
  float: left;
  margin: 11px 0 9px;
}

.header-info .header-info-title {
  display: inline-block;
  margin-left: 10px;
  color: #414141;
  font-size: 14px;
  vertical-align: -22px;
  line-height: 54px;
  font-weight: bold;
}

/* mask-form */
/* mask content */
#mask .content {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 640px;
  height: 466px;
}

/* mask content header */
#mask .mask-header .header-info {
  height: 54px;
  padding: 0 24px 0 12px;
  border-bottom: 2px solid #dddddd;
}

#mask .mask-header .header-info .header-info-icon {
  float: left;
  margin: 11px 0 9px;
}

#mask .mask-header .header-info .header-info-title {
  display: inline-block;
  margin-left: 10px;
  color: #414141;
  font-size: 14px;
  vertical-align: -22px;
  line-height: 54px;
  font-weight: bold;
}

/* mask content form */
#mask .mask-form {
  font: 12px/40px a;
  margin: 15px 1%;
}

#mask .mask-form .left {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding-left: 6%;
  font-weight: bold;
}

#mask .mask-form .right {
  box-sizing: border-box;
  float: right;
  width: 75%;
}

#mask .mask-form .right .step-description input {
  height: 20px;
  width: 256px;
}

#mask .mask-form .right .reviewer-rule span:first-child {
  margin-right: 3%;
}

#mask .mask-form .right .reviewer-rule input {
  margin-right: 6px;
  background: #ffffff;
  margin-left: 0;
}

#mask .mask-form .right .reviewer .line-x {
  height: 2px;
}

#mask .mask-form .right table th, .mask .mask-form .right table td {
  width: 100px;
  text-align: center;
}

#mask .mask-form .right table th:first-child, .mask .mask-form .right table td:first-child {
  width: 150px;
  text-align: left;
}

#mask .mask-form .form-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid #dadada;
  background: #f3f3f3;
}

#mask .mask-form .form-footer .button-wrap {
  float: right;
  line-height: 50px;
  margin-right: 15px;
}

#mask .mask-form .form-footer .button-wrap .button {
  margin-right: 6px;
  width: 80px;
  box-sizing: border-box;
  vertical-align: middle;
}

#mask .mask-form .form-footer .button-wrap .button:last-child {
  margin-right: 0;
}